/*
 * Local styles for Cirrus website
 */
.bordertabstyle {
   border-collapse: collapse;
}
.bordertabstyle th {
   background: #eee;
   font-style: bold;
}
.bordertabstyle table, th, td {
   border: 1px solid black;
   padding: 5px;
}

table, th, td {
  border: 1px solid black;
}

.vertical-box {
    display: flex;
    align-items: center;
}

footer {
    margin-top: 25px;
}



ul {
   list-style-type: square;
   list-style-position: inside;
}


/*
 * Local styles for Cirrus website accessibility
 */

footer p {
  color: #707070;
}

a {
  color: #3277b3;
}


/*
 * Updated nav bar 
 */

.navbar-default .navbar-brand {
  color:#111
}

.navbar-default .navbar-text {
  color:#000
}
.navbar-default .navbar-nav>li>a {
  color:#000;
}
.navbar-default {
   background-color:transparent;  
   border-color:transparent;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color:#000;
  background-color:transparent
}


.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color:#000;
  background-color:#cffdfa;
}
